.progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  z-index: 1000;
}

.progress-bar {
  height: 3px;
  width: 0;
  background-color: #44a4dd;
  -webkit-transition: width .15s ease-out;
     -moz-transition: width .15s ease-out;
       -o-transition: width .15s ease-out;
          transition: width .15s ease-out;
}
