.progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  z-index: 1000;
}

.progress-bar {
  height: 3px;
  width: 0;
  background-color: #44a4dd;
  -webkit-transition: width .15s ease-out;
     -moz-transition: width .15s ease-out;
       -o-transition: width .15s ease-out;
          transition: width .15s ease-out;
}

.slide-content {
  overflow: visible;
  margin: 60px auto 0 auto;
}

p, h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

li > ul {
  padding-top: 0 !important;
}

img {
  display: block;
  margin: 0 auto;
}

h1:not(:first-child) {
  margin-top: 20px;
}

pre {
  display: block;
  overflow-x: auto;
  background: #2b2b2b;
  padding: 20px;
}

code {
  color: #cb7832;
}

pre > code {
  color: #bababa;
  background-color: inherit;
  border-radius: inherit;
}

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-class > .hljs-title {
  color: #cda869;
}
