.slide {
    position: static;
    background-color: #fff;
}

.progress {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    z-index: 1000;
}

.progress-bar {
    height: 3px;
    width: 0;
    background-color: #44a4dd;
    -webkit-transition: width .15s ease-out;
    -moz-transition: width .15s ease-out;
    -o-transition: width .15s ease-out;
    transition: width .15s ease-out;
}

.slide-content {
    width: 1000px;
    height: auto;
    overflow: visible;
    margin: 30px auto;
    font-size: 170%;
}

h3 {
    border-bottom: none;
}

p, h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

li > ul {
    padding-top: 0 !important;
}

img {
    display: block;
    margin: 0 auto;
}

code {
    color: #a71d5d;
}

pre {
    font-size: 90%;
    background-color: #f7f7f7;
    padding: 20px;
}

pre > code {
    color: inherit;
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
    color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
    color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
    color: #0086b3;
}

.hljs-section,
.hljs-name {
    color: #63a35c;
}

.hljs-tag {
    color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #795da3;
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea;
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
}

.hljs-link {
    text-decoration: underline;
}